/*
Theme Name: Harbinger
Theme URI: https://chance.dev
Author: Chance Strickland
Author URI: https://chance.dev
Description: A theme for Harbinger House.
Version: 1.0.0
Requires at least: 5.0
Tested up to: 5.9
Requires PHP: 7.4
License: GNU General Public License v3 or Later
License URI: https://www.gnu.org/licenses/gpl.html
Text Domain: harbinger
*/

/**
 * When `<dialog>` is properly supported, the overlay is implied and can be
 * styled with `::backdrop`, which means the DOM one should be removed.
 */
[data-a11y-dialog-native] [data-a11y-dialog-overlay] {
  display: none;
}

/**
 * When `<dialog>` is supported, its default display is `inline` which can cause
 * layout issues.
 */
dialog[open] {
  display: block;
}

[data-a11y-dialog-container][aria-hidden="true"] {
  display: none;
}

[data-a11y-dialog-container]:not([data-a11y-dialog-native]),
[data-a11y-dialog-overlay] {
  /* z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */
}

[data-a11y-dialog-overlay] {
  /* background-color: rgba(43, 46, 56, 0.9); */
}

dialog::backdrop {
  background-color: rgba(43, 46, 56, 0.9);
}

[data-a11y-dialog-content] {
  background-color: rgb(255, 255, 255);
  margin: auto;
  z-index: 2;
  position: relative;
}

dialog:where([data-a11y-dialog-content]) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(10%);
  }
}

[data-a11y-dialog-overlay] {
  /* animation: fade-in 200ms both; */
}

[data-a11y-dialog-content] {
  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
}

dialog:where([data-a11y-dialog-content]) {
  animation: fade-in 400ms 200ms both;
}
