.ui--dialog__overlay {
  display: none;
  z-index: 10;
}

.ui--dialog__overlay:where([data-state="open"]) {
  display: block;
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.ui--dialog__content {
  width: 50vw;
  margin: 10vh auto;
  background: white;
  padding: 2rem;
  outline: none;
}
