.ui--hamburger-button {
  --x-line-height: 3px;
  --x-line-width: 32px;
  appearance: none;
  display: block;
  position: relative;
  box-shadow: none;
  border: 0;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  cursor: var(--pointer-cursor-hover);
  color: inherit;
  font: inherit;
}

.ui--hamburger-button__lines,
.ui--hamburger-button__cross {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui--hamburger-button__line {
  display: block;
  width: var(--x-line-width);
  height: var(--x-line-height);
  overflow: hidden;
  position: relative;
}

.ui--hamburger-button__line:not(:last-child) {
  margin-bottom: 5px;
}

.ui--hamburger-button__line::before,
.ui--hamburger-button__line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: currentColor;
  transition: transform ease 300ms;
}

.ui--hamburger-button__line::before {
  transform: translateX(-200%);
  border-radius: 999px;
}

.ui--hamburger-button__line::after {
  transform: translateX(0);
}

.ui--hamburger-button__line:nth-child(2)::before,
.ui--hamburger-button__line:nth-child(2)::after {
  transition-delay: 75ms;
}

.ui--hamburger-button__line:nth-child(3)::before,
.ui--hamburger-button__line:nth-child(3)::after {
  transition-delay: 150ms;
}

.ui--hamburger-button:hover .ui--hamburger-button__line::before {
  transform: translateX(0);
}

.ui--hamburger-button:hover .ui--hamburger-button__line::after {
  transform: translateX(200%);
}

.ui--hamburger-button[data-active] .ui--hamburger-button__line::before {
  transform: translateX(100%);
}

.ui--hamburger-button[data-active] .ui--hamburger-button__line::after {
  transform: translateX(200%);
}

.ui--hamburger-button__cross-line {
  display: block;
  width: 24px;
  height: 3px;
  width: calc(var(--x-line-width) * 0.875);
  height: var(--x-line-height);
  background-color: currentColor;
  transform: translateY(50%) rotate(45deg) scaleX(0);
  transition: transform ease 200ms;
  border-radius: 999px;
}

.ui--hamburger-button__cross-line:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(0);
}

.ui--hamburger-button[data-active] .ui--hamburger-button__cross-line {
  transition-delay: 650ms;
  transform: translateY(50%) rotate(45deg) scaleX(1);
}

.ui--hamburger-button[data-active]
  .ui--hamburger-button__cross-line:last-child {
  transform: translateY(-50%) rotate(-45deg) scaleX(1);
}
