.layout--primary {
  --header-offset: 10rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(
    100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
  );
}

.layout--primary__header,
.layout--primary__footer {
  flex: 0 0 auto;
}

.layout--primary__main {
  flex-grow: 1;
  margin-top: var(--header-offset);
}

.page--home.layout--primary__main {
  margin-top: 0;
}
