.ui--projects-grid__grid {
  display: flex;
  flex-direction: column;
  gap: var(--space-04);

  @media (--sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: var(--space-03);
    row-gap: var(--space-04);
  }

  @media (--lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.ui--projects-grid__item {
}

.ui--projects-grid__item-link {
  width: 100%;
  display: flex;
  aspect-ratio: 16 / 9;
  margin-bottom: 0.5em;
}

.ui--projects-grid__item-image {
  width: 100%;
  background-size: cover;
  background-position: center;
}
