.ui--projects-carousel {
  --rotation-angle: 8deg;
  --slide-width: 31%;
  max-width: 100%;
}

.ui--projects-carousel__wrap {
  position: relative;
  min-height: 100vh;
  min-height: calc(
    100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
  );
  margin: calc(var(--header-offset, 0) * -1) 0 0;
}

/* .page--home .ui--projects-carousel__wrap {
  margin:  0 0;
} */

.ui--projects-carousel__revealer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  top: 0;
  left: 0;
  transform: rotate(calc(var(--rotation-angle) * -1));
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui--projects-carousel__revealer__inner {
  position: relative;
  width: 200%;
  height: 200%;
  flex: none;
  width: calc(13.9173vh + 99.0268vw);
  height: calc(99.0268vh + 13.9173vw);
  will-change: transform;
}

.ui--projects-carousel__slides,
.ui--projects-carousel__titles {
}

.ui--projects-carousel__slides {
  display: grid;
  position: absolute;
  top: 25vh;
  left: -20%;
  transform: rotate(calc(var(--rotation-angle) * -1));
  height: 50vh;
  height: calc(50vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  width: 140%;
  grid-template-columns: repeat(3, var(--slide-width));
  grid-template-areas: "prev center next";
  gap: 2%;
}

.ui--projects-carousel__nav-button-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100vh;
  height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
  z-index: 100;
  pointer-events: none;
}

.ui--projects-carousel__nav-button {
  position: relative;
  color: inherit;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  box-shadow: none;
  border: 0;
  width: 86px;
  height: 50%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  color: white;

  @media (--md) {
    width: 128px;
  }
}

.ui--projects-carousel__nav-button--prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");

  @media (--sm) {
    background-position: center 52.5%;
  }

  @media (--md) {
    background-position: center 55%;
  }

  @media (--lg) {
    background-position: center 58%;
  }

  @media (--xl) {
    background-position: center 60%;
  }
}

.ui--projects-carousel__nav-button--next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23fff'%3E%3Cpath fill-rule='evenodd' d='M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");

  @media (--sm) {
    background-position: center 47.5%;
  }

  @media (--md) {
    background-position: center 45%;
  }

  @media (--lg) {
    background-position: center 42%;
  }

  @media (--xl) {
    background-position: center 40%;
  }
}

.ui--projects-carousel__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  grid-area: center;
  margin: 0;
  overflow: hidden;
  transition: 100ms outline ease;
  outline-color: var(--color-focus-ring);
  outline-width: 0;
  outline-offset: 2px;
  background-color: var(--color-peach);

  &:focus-within {
    outline: 3px solid var(--color-focus-ring);
    outline-offset: 3px;
  }
}

.ui--projects-carousel__next {
  left: calc(-106.5% * 2);
}

.ui--projects-carousel__slide--right {
  right: calc(-106.5% * 2);
}

.ui--projects-carousel__slide--center {
  grid-area: center;
}

@media screen and (--sm) {
  .ui--projects-carousel__slide--center {
  }

  .ui--projects-carousel__slide--center:hover {
  }
}

.ui--projects-carousel__slide--prev {
  grid-area: prev;
  cursor: var(--pointer-cursor-hover);
}

.ui--projects-carousel__slide--next {
  grid-area: next;
  cursor: var(--pointer-cursor-hover);
}

.ui--projects-carousel__slide-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
}

.ui--projects-carousel__slide-link,
.ui--projects-carousel__slide-image,
.ui--projects-carousel__slide-image-wrapper {
  width: 100%;
  height: 100%;
}

.ui--projects-carousel__slide-image {
  --blur: 10px;
  --sepia: 0.7;
  --saturation: 0.5;
  --scale: 1.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(var(--scale));
  transition: 0.8s opacity ease-out, 0.45s filter ease-out,
    0.45s transform ease-out;
  filter: blur(var(--blur)) sepia(var(--sepia)) saturate(var(--saturation));
}

.ui--projects-carousel__slide-image:hover {
  --blur: 3px;
}

.ui--projects-carousel__slide-image[data-center-state="exiting"] {
  --blur: 10px;
  --sepia: 0.7;
  --saturation: 0.5;
}

.ui--projects-carousel__slide-image[data-center-state="entering"],
.ui--projects-carousel__slide-image[data-center-state="idle"] {
  --blur: 0;
  --sepia: 0;
  --saturation: 1;
}

.ui--projects-carousel__slide:hover .ui--projects-carousel__slide-image {
  /* --scale: 1.53; */
}

.ui--projects-carousel__slide--center:hover
  .ui--projects-carousel__slide-image {
  /* --scale: 1.57; */
}

.ui--projects-carousel__slide-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(calc(var(--rotation-angle) * 1.5));
  transition: 0.45s transform ease-out;
  /* z-index: 1; */
  font-size: var(--fz-h4);
  line-height: var(--lh-h4);
  padding-top: 50%;
  font-weight: bold;
  color: var(--color-white);
  pointer-events: none;
  text-align: center;
}

@media (min-width: 1280px) {
  .ui--projects-carousel__slide-caption {
    font-size: var(--fz-h4);
    line-height: var(--fz-h4);
  }
}

@media screen and (min-width: 1800px) {
  .ui--projects-carousel__slide-caption {
    font-size: var(--fz-h3);
    line-height: var(--fz-h3);
  }
}

.ui--projects-carousel__titles-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: -8%;
  /* z-index: 10; */
  transform: rotate(calc(var(--rotation-angle) * 2));
  pointer-events: none;
}

.ui--projects-carousel__titles {
  height: 100vh;
  height: calc(100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top));
}

@media only screen and (orientation: landscape) and (min-width: 1024px) {
  .ui--projects-carousel {
    --slide-width: calc((100% - 16vw) / 3);
  }

  .ui--projects-carousel__wrap {
    margin: -5% 0 0;
  }

  .page--home .ui--projects-carousel__wrap {
    margin: -5.5rem 0 0;
  }

  .ui--projects-carousel__slides {
    --gap-basis: 8vw;
    --gap-wiggy: 5vw;
    --slide-gap: 3vw;
    top: 0;
    left: -5%;
    width: calc(125%);
    height: 100vh;
    height: calc(
      100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
    );
    grid-template-columns: repeat(3, calc((100% - 16vw) / 3));
    gap: var(--slide-gap);
  }

  /* .ui--projects-carousel__nav-button-wrap {
    height: 100vh;
    height: calc(
      100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
    );
  } */

  .ui--projects-carousel__slide {
    margin: 15vh 0;
  }

  .ui--projects-carousel__slide--left {
    left: calc(-125.5% * 2 - var(--gap-wiggy));
    left: calc(-100% * 2 - var(--slide-gap) * 2);
  }

  .ui--projects-carousel__slide--right {
    right: calc(-100% * 2 - var(--slide-gap) * 2);
  }

  .ui--projects-carousel__titles-outer {
    left: 0;
  }

  .ui--projects-carousel__titles {
    top: 0;
    gap: 8vw;
  }
}

.ui--projects-carousel__slide--animate {
  animation: projectsCarouselMoveBack 1s cubic-bezier(0.9, 0, 0.1, 1);
  animation-iteration-count: 1;
}

.ui--projects-carousel__slide--animate.ui--projects-carousel__slide--transition-forward {
  animation: projectsCarouselMoveForward 1s cubic-bezier(0.9, 0, 0.1, 1);
}

/* .ui--projects-carousel__slide-image--animate {
  animation: projectsCarouselStretch 1s ease-out;
  animation-iteration-count: 1;
} */

@keyframes projectsCarouselMoveBack {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    transform: matrix(1, 0, 0, 1, var(--mtx-factor), 0);
  }
}

@keyframes projectsCarouselMoveForward {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  100% {
    transform: matrix(1, 0, 0, 1, calc(var(--mtx-factor) * -1), 0);
  }
}

/* @keyframes projectsCarouselStretch {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
} */
