.ui--section-process {
  counter-reset: section;
  margin: 8.25rem 0;

  @media (--sm) {
    margin: 11.25rem 0;
  }

  @media (--md) {
    margin: 16.875rem 0;
  }
}

.ui--section-process__inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-05);
}

.ui--section-process__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-04);
}

.ui--section-process__block-heading-wrap {
  position: relative;
  width: 100%;
}

.ui--section-process__block-heading {
  margin: 0;
  font-size: var(--fz-h2);
  line-height: 1;
  text-transform: lowercase;
}

.ui--section-process__block-heading--active {
  color: var(--color-peach);
}

.ui--section-process__block-heading::before {
  display: block;
  counter-increment: section;
  content: counter(section, decimal-leading-zero);
  font-size: max(1rem, 40%);
  line-height: 1.2;
}

.ui--section-process__steps {
  --steps-gap: var(--space-04);
  display: flex;
  flex-direction: column;
  counter-reset: steps;
  width: 100%;
  gap: var(--steps-gap);

  &::after {
    --a-size: 10px;
    content: "";
    display: block;
    width: var(--a-size);
    height: var(--a-size);
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.5' cy='6.5' r='6.5' fill='%23D37E5E'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: calc(var(--space-05) - var(--steps-gap)) auto 0;

    @media (--sm) {
      --a-size: 12px;
    }

    @media (--lg) {
      --a-size: 14px;
    }
  }
}

.ui--section-process__step {
}

.ui--section-process__step-heading {
  width: 100%;
  font-size: var(--fz-body);
  line-height: var(--lh-body);
  border-bottom: 2px solid currentColor;
  margin: 0;
  margin-bottom: var(--space-02);
  padding-bottom: var(--space-01);
}

.ui--section-process__step-body {
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

  @media (--lg) {
    max-width: 500px;
    margin-right: 0;
    margin-left: auto;
  }
}

.ui--section-process__step-heading::before {
  display: inline-block;
  counter-increment: steps;
  content: counter(steps, decimal-leading-zero);
  margin-right: 0.5em;
}

@media (--sm) {
  .ui--section-process__block {
    flex-direction: row;
    gap: var(--space-03);
  }

  .ui--section-process__steps {
    flex-basis: 50%;
    width: auto;
  }

  .ui--section-process__block-heading-wrap {
    flex-basis: 50%;
    width: auto;
  }

  .ui--section-process__block-heading {
    margin: 0 2em 3em auto;
    position: sticky;
    top: 3.5em;
  }
}
