.site-footer {
  --icon-width: 30px;
  width: 100%;
  padding-top: var(--space-04);
  padding-bottom: var(--space-05);
}

.site-footer .container {
  display: flex;
  flex-direction: column;
  gap: var(--space-05);
}

@media (--lg) {
  .site-footer .container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-footer__top-link {
  order: -1;
}

.site-footer__contact,
.site-footer__contact-address {
  display: flex;
  flex-direction: column;
  gap: var(--space-04);
}

.site-footer__contact-block {
  display: flex;
  gap: var(--space-02);
  align-items: flex-start;
}

.site-footer__contact-block-icon-wrap {
  display: none;
}

.site-footer__contact-block-content {
  display: flex;
  flex-direction: column;

  & > :first-child {
    display: block;
    font-weight: bold;
  }
}

.site-footer__logo {
  width: 153px;
  height: 143px;
}

@media (--sm) {
  .site-footer__contact-address {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (--lg) {
  .site-footer__contact-block-icon-wrap {
    display: flex;
    width: var(--icon-width);
    align-items: center;
    justify-content: center;
    padding-top: var(--space-01);
    color: var(--color-forest);
  }

  .site-footer__contact-email .site-footer__contact-block-icon-wrap {
    padding-top: var(--space-02);
  }

  .site-footer__social-nav {
    padding-left: calc(var(--icon-width) + var(--space-02));
    flex-direction: row;
  }
}
