.ui--site-nav {
  --dialog-width: 100vw;
  --dialog-width: calc(
    100vw - env(safe-area-inset-left) - env(safe-area-inset-right)
  );
  --dialog-height: 100vh;
  --dialog-height: calc(
    100vh - env(safe-area-inset-bottom) - env(safe-area-inset-top)
  );

  display: block;
  position: fixed;
  top: 0;
  left: 0;
  /* transform: translateX(calc(var(--dialog-width) * -1)); */
  width: var(--dialog-width);
  height: var(--dialog-height);
  overflow-x: hidden;
}

.ui--site-nav:where[data-state="open"] {
  transform: translateX(0);
}

.ui--site-nav--transitioning {
  transition: transform 1s cubic-bezier(0, 1, 0.4, 1);
}

@supports (-webkit-touch-callout: none) {
  .ui--site-nav {
    --dialog-height: -webkit-fill-available;
  }
}

.ui--site-nav__inner {
  width: inherit;
  height: inherit;
  margin: 0;
  padding: 0;
  background-color: var(--color-forest);
  color: var(--color-beige-300);
}

.ui--site-nav__inner:where([data-state="open"]) {
}

.ui--site-nav__nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 18.662vh 8.438vw 11.972vh;
  background-color: var(--color-forest);

  @media screen and (orientation: landscape) {
    padding: 15.625vh 8.438vh;
  }

  @media screen and (orientation: landscape) and (min-width: 1024px) {
    padding: 16.563vh 7.292vw 13.438vh;
  }
}

:where(.ui--site-nav__nav-menu > li) {
  font-size: min(9.375vh, 20vw);
  line-height: 1.25;

  @media screen and (min-width: 1024px) {
    font-size: min(10.5vh, 20vw);
  }
}

:where(.ui--site-nav__nav-menu > li > a) {
  position: relative;
  display: inline-block;
  color: inherit;
  transition: all 400ms ease;
}

:where(.ui--site-nav__nav-menu > li > a:hover) {
  -webkit-text-fill-color: var(--color-forest);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: currentColor;
}

:where(.ui--site-nav__nav-menu > li > a)::after {
  --h: min(max(3px, 0.125em), 6px);
  content: "";
  position: absolute;
  display: block;
  top: 0.625em;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  height: var(--h);
  background: var(--color-peach);
  transition: inherit;
}

:where(.ui--site-nav__nav-menu > li > a:hover)::after {
  transform: scaleX(100%);
}

:where(.ui--site-nav__nav-menu > li > a[aria-current="page"]) {
  transform: translateX(min(10vw, var(--space-05)));
  font-weight: bold;
}

.ui--site-nav .ui--hamburger-button__line::before,
.ui--site-nav .ui--hamburger-button__line::after {
  background-color: transparent;
}
