:root {
  --site-header-x: 8.438vw;
  --site-header-logo-width: 150px;
  --site-header-logo-height: 43px;
}

.site-header,
.site-header-stub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10.387vh;
  left: var(--site-header-x);
  width: calc(100vw - var(--site-header-x) * 2);
  z-index: 10;

  @media (--md) {
    position: fixed;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .site-header,
  .site-header-stub {
    left: 7.292vw;
    justify-content: flex-start;
    gap: var(--space-03);
  }
}

.site-header {
  z-index: 10;
}

.site-header__logo,
.site-header-stub__logo {
  width: var(--site-header-logo-width);
  height: var(--site-header-logo-height);
}
