.ui--social-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-01);
}

.ui--social-menu__item {
  margin: 0;
  padding: 0;
}

.ui--social-menu__item-link {
  display: block;
  padding: 10px;
  width: 36px;
  height: 36px;
  background-color: var(--color-black);
  color: var(--color-body-background);
  border-radius: 9999px;
}
