.ui--start-project-cta {
  position: relative;
  text-align: center;
  padding: 8.25rem 0;
  /* background-color: var(--color-peach); */
  border-color: transparent;
  overflow: hidden;

  @media (--sm) {
    padding: 10.25rem 0;
    margin: 11.25rem 0;
  }

  @media (--md) {
    padding: 14.5rem 0;
    margin: 16.875rem 0;
  }
}

.ui--start-project-cta__link {
  position: relative;
  z-index: 1;
  display: block;
  font-size: var(--fz-title);
  line-height: 1;
  text-transform: lowercase;
  font-weight: 900;
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: var(--color-forest);
  margin-bottom: 0.1em;
  transition: 0.25s all ease;

  &:hover {
    color: var(--color-forest);
    text-decoration-color: transparent;
  }
}

.ui--start-project-cta__scroller {
  position: absolute;
  width: 200%;
  background-repeat: repeat-x;
  background-size: contain;
  opacity: 0.125;
}

.ui--start-project-cta__scroller--hand {
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 94 167' height='150' width='85' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M60.4179 58.6759V67.5822C60.4179 73.604 55.5127 78.5022 49.4836 78.5022H39.6532V83.2217H49.4836C58.1182 83.2217 65.1433 76.2062 65.1433 67.5822V58.6759C65.1433 53.8595 68.5001 49.8125 72.9997 48.7448V76.9965C72.9997 81.4836 71.4952 85.9178 68.7638 89.4809L55.1491 107.242C53.0072 110.036 49.6255 111.703 46.1039 111.703H20.8095C12.3408 111.703 5.45149 104.822 5.45149 96.3637V21.92C5.45149 20.2447 6.81516 18.8817 8.49352 18.8817C10.1709 18.8817 11.5356 20.2447 11.5356 21.92V51.3251H16.261V13.4986C16.261 11.4162 17.9573 9.72294 20.0413 9.72294C22.1262 9.72294 23.8226 11.4162 23.8226 13.4986V46.7452H28.548V8.91971C28.548 6.83731 30.2433 5.14404 32.3283 5.14404C34.4133 5.14404 36.1086 6.83731 36.1086 8.91971V49.0352H40.834V13.4986C40.834 11.4162 42.5304 9.72294 44.6143 9.72294C46.6993 9.72294 48.3957 11.4162 48.3957 13.4986V67.5822H53.1211V13.4986C53.1211 8.81394 49.3048 5.00335 44.6143 5.00335C43.0649 5.00335 41.6153 5.42642 40.3615 6.15282C39.2096 2.82416 36.0477 0.423462 32.3283 0.423462C28.6089 0.423462 25.447 2.82416 24.2941 6.15282C23.0414 5.42642 21.5918 5.00335 20.0413 5.00335C15.3508 5.00335 11.5356 8.81394 11.5356 13.4986V14.7828C10.6005 14.3837 9.57247 14.1621 8.49352 14.1621C4.2097 14.1621 0.72509 17.6425 0.72509 21.92V96.3637C0.72509 107.425 9.73531 116.423 20.8095 116.423H46.1039C51.087 116.423 55.8714 114.063 58.9014 110.11L72.5162 92.3496C75.8759 87.9673 77.7251 82.5153 77.7251 76.9965V43.7498H75.3624C67.1224 43.7498 60.4179 50.4451 60.4179 58.6759Z' /%3E%3C/svg%3E%0A");
}

.ui--start-project-cta__scroller--hand-flipped {
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 94 167' height='150' width='85' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0322 58.171L18.0322 49.2647C18.0322 43.243 22.9375 38.3448 28.9666 38.3448L38.797 38.3448L38.797 33.6252L28.9666 33.6252C20.332 33.6252 13.3068 40.6407 13.3068 49.2647L13.3068 58.171C13.3068 62.9874 9.9501 67.0345 5.45048 68.1021L5.45048 39.8504C5.45049 35.3633 6.95503 30.9291 9.68637 27.366L23.3011 9.6052C25.443 6.81136 28.8247 5.14404 32.3463 5.14404L57.6407 5.14404C66.1094 5.14405 72.9987 12.0249 72.9987 20.4832L72.9987 94.9269C72.9987 96.6022 71.635 97.9652 69.9567 97.9652C68.2793 97.9652 66.9146 96.6022 66.9146 94.9269L66.9146 65.5218L62.1892 65.5218L62.1892 103.348C62.1892 105.431 60.4929 107.124 58.4089 107.124C56.3239 107.124 54.6276 105.431 54.6276 103.348L54.6276 70.1017L49.9022 70.1017L49.9022 107.927C49.9022 110.01 48.2068 111.703 46.1219 111.703C44.0369 111.703 42.3415 110.01 42.3415 107.927L42.3416 67.8117L37.6162 67.8117L37.6162 103.348C37.6162 105.431 35.9198 107.124 33.8358 107.124C31.7509 107.124 30.0545 105.431 30.0545 103.348L30.0545 49.2647L25.3291 49.2647L25.3291 103.348C25.3291 108.033 29.1454 111.844 33.8358 111.844C35.3853 111.844 36.8349 111.421 38.0887 110.694C39.2406 114.023 42.4025 116.423 46.1219 116.423C49.8412 116.423 53.0032 114.023 54.156 110.694C55.4088 111.421 56.8584 111.844 58.4089 111.844C63.0993 111.844 66.9146 108.033 66.9146 103.348L66.9146 102.064C67.8497 102.463 68.8777 102.685 69.9567 102.685C74.2405 102.685 77.7251 99.2045 77.7251 94.9269L77.7251 20.4832C77.7251 9.42161 68.7149 0.423468 57.6407 0.423467L32.3463 0.423465C27.3631 0.423464 22.5788 2.78425 19.5488 6.73653L5.93402 24.4973C2.57429 28.8797 0.725092 34.3316 0.725092 39.8504L0.725089 73.0971L3.08779 73.0971C11.3278 73.0971 18.0322 66.4019 18.0322 58.171Z' /%3E%3C/svg%3E%0A");
}

.ui--start-project-cta__scroller--eye {
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 167' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 5.01616C23.8777 5.01616 28.1102 8.65721 30.0326 10.7162C28.8909 11.939 26.9317 13.7119 24.3044 14.956C24.3064 14.9012 24.3124 14.8474 24.3124 14.7916C24.3124 11.249 21.4808 8.36698 18 8.36698C14.5192 8.36698 11.6876 11.249 11.6876 14.7916C11.6876 14.8474 11.6936 14.9012 11.6956 14.956C9.06331 13.7098 7.10209 11.9319 5.96045 10.7091C7.86983 8.6491 12.0754 5.01616 18 5.01616ZM18 21.2162C28.6556 21.2162 34.7975 12.4657 35.0538 12.0923L36 10.7162L35.0538 9.34016C34.7975 8.96672 28.6556 0.216217 18 0.216217C7.34437 0.216217 1.20246 8.96672 0.946213 9.34016L0 10.7162L0.946213 12.0923C1.20246 12.4657 7.34437 21.2162 18 21.2162Z' /%3E%3C/svg%3E%0A");
}

.ui--start-project-cta__scroller--eye-flipped {
  height: 150px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 167' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 16.4163C12.1223 16.4163 7.88977 12.7752 5.96743 10.7162C7.10907 9.4934 9.0683 7.72056 11.6956 6.47644C11.6936 6.53123 11.6876 6.58502 11.6876 6.64083C11.6876 10.1835 14.5192 13.0654 18 13.0654C21.4808 13.0654 24.3124 10.1835 24.3124 6.64083C24.3124 6.58502 24.3064 6.53124 24.3044 6.47644C26.9367 7.7226 28.8979 9.5005 30.0396 10.7233C28.1302 12.7833 23.9246 16.4163 18 16.4163ZM18 0.216216C7.34438 0.216215 1.20246 8.96672 0.946216 9.34016L7.31639e-07 10.7162L0.946216 12.0923C1.20246 12.4657 7.34437 21.2162 18 21.2162C28.6556 21.2162 34.7975 12.4657 35.0538 12.0923L36 10.7162L35.0538 9.34017C34.7975 8.96673 28.6556 0.216217 18 0.216216Z' /%3E%3C/svg%3E%0A");
}
