.ui--tabs {
  display: flex;
  flex-direction: column;
}

.ui--tabs:where([data-orientation="vertical"]) {
  flex-direction: row;
}

.ui--tabs__list {
  display: flex;
  flex-direction: row;
}

.ui--tabs__list[aria-orientation="vertical"] {
  flex-direction: column;
}

.ui--tabs__tab {
  display: inline-flex;
  border: none;
  padding: 0.25em 0.5em;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: var(--pointer-cursor-hover);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.ui--tabs__panel {
  outline: none;
}

.ui--tabs__tab:disabled {
  opacity: 0.5;
  cursor: default;
}

.ui--tabs__tab[aria-selected="true"] {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--color-peach);
  text-decoration-thickness: 3px;
}
