.ui--top-link {
  --bg: var(--color-forest);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 112px;
  background-color: var(--bg);
  color: var(--color-peach);
  border-radius: 9999px;
  border: 2px solid currentColor;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;

  &::before,
  &::after {
    position: absolute;
    left: calc(var(--offs, 0px) * -1);
    top: calc(var(--offs, 0px) * -1);
    content: "";
    width: calc(100% + var(--offs, 0px) * 2);
    height: calc(100% + var(--offs, 0px) * 2);
    border-radius: inherit;
  }

  &::before {
    --offs: 4px;
    border: 2px solid var(--bg);
    background-color: var(--bg);
    z-index: -1;
  }

  &::after {
    --offs: 6px;
    color: inherit;
    border: 2px solid currentColor;
    background-color: currentColor;
    z-index: -2;
  }

  @media (--xs-only) {
    display: none;
  }
}

.ui--top-link__icon {
  width: 34px;
}
