.page--default__main-content {
  padding: 0 8.438vw 12.894vh;
  position: relative;
  text-align: left;
  z-index: 2;
}

@media (--md) {
  .page--default__main-content {
  }
}

@media (--lg) {
  .page--default__main-content {
    padding: 0 7.031vw 0 8.438vw;
    max-width: 80vw;
    margin-left: auto;
  }
}

@media (--xl) {
  .page--default__main-content {
  }
}

@media screen and (--xl3) {
  .page--default__main-content {
    font-size: var(--fz-h3);
  }
}
