.page--contact__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-04);
}

.page--contact__row {
  display: flex;
  flex-direction: column;
  gap: var(--space-04);
}

.page--contact__points {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page--contact__points,
.page--contact__social-heading {
  font-size: var(--fz-h4);
  margin: 0;
}

.page--contact__form-link {
  text-transform: lowercase;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--color-peach);
  text-decoration-thickness: 2px;

  &:hover {
    text-decoration: none;
  }
}

.page--contact__social-heading {
  text-transform: lowercase;
}

.page--contact__content-section {
  padding: 0 0 var(--space-05);
}

.page--contact__form-section {
  background: var(--color-forest);
  color: var(--color-beige);
  padding: var(--space-05) 0;
}

.page--contact__form-heading {
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  margin-top: 0;
  margin-bottom: var(--space-04);
}

.page--contact__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-03);
  font-size: var(--fz-h4);
  line-height: var(--lh-h4);
}

.page--contact__form-field-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-01);
  font-size: inherit;
}

.page--contact__form-field-wrap--disabled {
  opacity: 0.6;
}

.page--contact__form-field-wrap--required::after {
  content: "*";
  position: absolute;
  right: 0;
  top: 0;
}

.page--contact__form-field:where(select) {
  padding-right: 1em;
}

.page--contact__form-field-wrap--select::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='28' height='18' viewBox='0 0 32 24'%3E%3Cpolygon points='0,0 32,0 16,24' style='fill: rgb(199, 184, 169)'%3E%3C/polygon%3E%3C/svg%3E");
  background-size: 0.5em;
  background-repeat: no-repeat;
  background-position: right top;
  height: 100%;
  width: 1em;
}

.page--contact__form-field-label {
  font-weight: bold;
}

.wpcf7-form-control-wrap {
  display: contents;
}

.wpcf7 form .wpcf7-response-output {
  border-color: var(--color-navy);
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: var(--color-focus-ring);
}

.page--contact__form-field-wrap .page--contact__form-field {
  position: relative;
  color: inherit;
  display: block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  box-shadow: none;
  border: 0;
  border-bottom: 3px solid currentColor;
  border-radius: 0;
  flex: 1 0 auto;
  font-size: 0.95em;
  padding-bottom: 0.375em;

  &:focus {
    outline: none;
    border-bottom-color: var(--color-focus-ring);
  }
}

.page--contact__form-field[data-com-onepassword-filled] {
  color: var(--color-beige) !important;
  -webkit-text-fill-color: var(--color-beige) !important;
  background-color: var(--color-forest) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-forest) inset !important;
}

.page--contact__form-field:-webkit-autofill,
.page--contact__form-field:-webkit-autofill:hover,
.page--contact__form-field:-webkit-autofill:focus,
.page--contact__form-field:-webkit-autofill,
.page--contact__form-field:-webkit-autofill:hover,
.page--contact__form-field:-webkit-autofill:focus,
.page--contact__form-field:-webkit-autofill,
.page--contact__form-field:-webkit-autofill:hover,
.page--contact__form-field:-webkit-autofill:focus {
  color: var(--color-beige) !important;
  -webkit-text-fill-color: var(--color-beige) !important;
  background-color: var(--color-forest) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-forest) inset !important;
}

.page--contact__form-field:-webkit-autofill {
  border-color: var(--color-beige);
}

.page--contact__form-field:-webkit-autofill:focus {
  border-color: var(--color-peach);
}

.page--contact__form-field:where(textarea) {
  height: calc(1.125em * 5);
  resize: none;
}

.page--contact__form-field-error {
  color: var(--color-peach);
  font-size: max(0.7em, 14px);
}

.page--contact__form-submit {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  font: inherit;
  font-size: var(--fz-h2);
  line-height: 1;
  color: inherit;
  background: none;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  -webkit-text-fill-color: var(--color-forest);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: currentColor;
  cursor: var(--pointer-cursor-hover);
}

.page--contact__form-submit::after {
  --h: min(max(3px, 0.125em), 6px);
  content: "";
  position: absolute;
  display: block;
  top: 0.5em;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
  height: var(--h);
  background: var(--color-peach);
  transition: all 400ms ease;
}

.page--contact__form-submit:hover::after {
  transform: scaleX(100%);
}

.page--contact .site-footer {
  background: var(--color-forest);
}

@media (min-width: 640px) {
  .page--contact__content {
    gap: var(--space-05);
  }

  .page--contact__row {
    justify-content: space-between;
    flex-direction: row;
  }

  .page--contact__points,
  .page--contact__social-heading {
    font-size: var(--fz-h3);
  }

  .page--contact__social-wrapper {
    display: flex;
    gap: var(--space-03);
    align-items: center;
    justify-content: center;
  }

  .page--contact__form-field-wrap {
    flex-direction: row;
    gap: var(--space-03);
    line-height: 1;
  }

  .page--contact__form-field-wrap--textarea {
    flex-direction: column;
  }

  .page--contact__form-field-wrap .page--contact__form-field {
    font-size: 0.8em;
    height: 1.375em;
  }

  .page--contact__form-field-label,
  .page--contact__form-field {
  }

  .page--contact__form-field-error {
    position: absolute;
    left: 0;
    top: 1em;
    margin-top: 0.75em;
  }
}

@media (--xl) {
  .page--contact__points,
  .page--contact__social-heading {
    font-size: var(--fz-h4);
  }
}
