/* needed for projects carousel; would love to fix this at the component level
but it's a bit wacky at the moment so will need a bit of refactoring */
.page--home {
  overflow-x: hidden;
}

.page--home__page-title {
  /* TODO: NOT ON SMALL! */
  display: none;
}

@media (--lg) {
  /* TODO: Gross */
  .page--home__page-title {
    text-transform: lowercase;
    display: block;
    z-index: 2;
    letter-spacing: 0.088em;
    position: absolute;
    padding: 0;
    font-size: max(0.729vw, 12px);
    font-weight: bold;
    line-height: 118%;
    bottom: auto;
    top: 17.13vh;
    left: 7.292vw;
  }
}

.page--home__projects {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .page--home__projects {
    margin: 15.625vw 0 0;
    margin-top: 0;
  }

  .page--home__projects-carousel {
    margin-top: 0;
  }
}

/* TODO: Major clean needed */

.page--home .view-all {
  position: relative;
  z-index: 2;
}

.page--home .view-all a {
  overflow: hidden;
  display: block;
}

.page--home .view-all a span {
  text-transform: lowercase;
  padding: 0 9.375vw;
  font-size: min(6.563vw, 1.5rem);
  font-weight: 600;
  position: relative;
  display: inline-block;

  &::after {
    width: 300%;
    height: 1px;
    background: #c5563b;
    position: absolute;
    top: 50%;
    left: 100%;
    content: " ";
    display: block;
    transition: transform 0.4s ease;
    transform: translateX(0);
  }
}

.page--home .view-all a:hover span::after {
  transform: translateX(-50%);
}

.page--home__overview {
  padding: 12.894vh 8.438vw 0;
  position: relative;
  text-align: left;
  z-index: 2;
}

.page--home__overview-lead {
  font-size: 1rem;
  line-height: 1.6;
  font-weight: bold;
}

.page--home__overview-lead-emphasis {
  display: block;
  font-size: var(--fz-h3);
  line-height: var(--lh-h3);
}

.page--home__start {
  margin: 124px 0 0;
  position: relative;
  z-index: 2;
}

.page--home__clients {
  margin: 124px 0;
}

.page--home__client-logos {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: center;
}

.page--home__client-logo {
  --mw: 250px;
  --mh: 100px;
  width: auto;
  height: auto;
  max-width: var(--mw);
  max-height: var(--mh);

  &[data-logo="SrmConcrete"],
  &[data-logo="SRMConcrete"] {
    max-height: calc(var(--mh) * 0.7);
  }

  &[data-logo="FranklinTheatre"] {
    max-height: calc(var(--mh) * 1.2);
  }

  &[data-logo="HeritageFoundation"],
  &[data-logo="HeritageFoundationOfWilliamsonCounty"] {
    max-height: calc(var(--mh) * 1.4);
  }

  &[data-logo="NewHonorSociety"] {
    max-height: calc(var(--mh) * 1.2);
  }

  &[data-logo="UTC"],
  &[data-logo="UniversityOfTennesseeChattanooga"] {
    max-width: calc(var(--mw) * 1.2);
  }

  &[data-logo="PhoenixClub"],
  &[data-logo="PhoenixClubOfNashville"] {
    max-width: calc(var(--mw) * 1.2);
  }
}

@media (--sm) {
  .page--home__overview {
    padding: 18.894vh 8.438vw 8.5vh;
  }
}

@media (--md) {
  .page--home__overview {
    padding: 24.894vh 8.438vw 11.25vh;
  }
}

@media (--lg) {
  .page--home .view-all {
    margin: 8.333vw 0 0;
    text-align: right;
  }

  .page--home .view-all a {
    margin: 0 0 0 auto;
    padding: 0 7.292vw;
    display: inline-block;
  }

  .page--home .view-all a span {
    padding: 0 2.083vw;
    font-size: 2.135vw;
  }

  .page--home__overview {
    padding: 323px 7.031vw 220px 8.438vw;
    max-width: 80vw;
    margin-left: auto;
  }

  .page--home__start {
    margin-top: 22.685vh;
  }

  .page--home__clients {
    margin: 22.685vh 0;
  }

  .page--home__client-logos {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10rem;
  }
}

@media screen and (min-width: 2000px) {
  .page--home__overview {
    max-width: 60vw;
    margin-left: auto;
  }
}
