.page--project__page-title-client {
  font-size: var(--fz-h3);
  line-height: var(--lh-h3);
  display: block;
}

.page--project__page-title-project {
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  font-weight: 900;
  display: block;
}

.page--project__video {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  @media (--xl) {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }

  @media (--xl2) {
    width: calc(100% + 8rem);
    margin-left: -4rem;
  }

  &::before {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
}

.page--project__video-iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

@media (--md) {
  .page--project__credits {
    display: flex;
    gap: var(--space-05);
    justify-content: center;
    max-width: 80vw;
    margin: var(--space-05) auto;
  }
}

.page--project__credits-list {
  display: flex;
  flex-direction: column;
  gap: var(--space-02);
}

@media (--md) {
  .page--project__credits-list {
    display: block;
  }
}

.page--project__credits-item {
}

@media (--sm) {
  .page--project__credits-item {
    display: flex;
    gap: var(--space-02);
  }
}

.page--project__credits-job {
  /* font-weight: bold; */
}

.page--project__credits-credit {
  font-weight: bold;
}

.page--project__credits-title {
  text-transform: uppercase;
  margin-top: 0;
}

.page--project__gallery {
  --gallery-gap: var(--space-04);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gallery-gap);
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.page--project__gallery-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: 430px) {
    width: calc(50% - var(--gallery-gap) / 2);
  }

  @media (--sm) {
    width: calc(33.333% - var(--gallery-gap) / 1.5);
  }

  @media (--lg) {
    width: calc(25% - var(--gallery-gap) / 1.325);
  }
}

.page--project__gallery-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: var(--aspect-width, 3) / var(--aspect-height, 2);
}

.page--project__gallery-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** padding hack for aspect ratio */
@supports not (aspect-ratio: 3 / 2) {
  .page--project__gallery-link {
    height: 0;
    overflow: hidden;
    padding-top: 66.6667%;
    position: relative;
  }

  .page--project__gallery-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
