/* needed for projects carousel; would love to fix this at the component level
but it's a bit wacky at the moment so will need a bit of refactoring */
.page--work {
  overflow-x: hidden;
}

.page--work .page-title,
.page--work .ui--tabs__list {
  position: relative;
  z-index: 1;
}

.page--work .ui--tabs__list {
  margin: 0 auto var(--space-04);
}

.page--work .ui--projects-grid {
    margin-bottom: var(--space-05);
}