html,
body {
  background-color: var(--color-body-background);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-sans);
  color: var(--color-body-text);
  font-size: var(--fz-body);
  line-height: var(--lh-body);

  cursor: var(--pointer-cursor);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: var(--pointer-cursor-hover);
}

:focus {
  outline: 2px solid var(--color-focus-ring);
}
