html {
  box-sizing: border-box;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-size: 16px;
  line-height: 1.6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  overflow-wrap: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

hr {
  height: 0;
  color: inherit;
  border-width: 0;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: inherit;
}

abbr {
  text-decoration: none;
}

address {
  font: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

table {
  line-height: inherit;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

td,
th,
thead,
tfoot,
tbody {
  text-align: inherit;
}

dl,
dt,
dd {
  display: block;
  margin: 0;
}
