@custom-media --xs-only (max-width: 639px);
@custom-media --sm (min-width: 640px);
@custom-media --sm-down (min-width: 767px);
@custom-media --md (min-width: 768px);
@custom-media --md-down (max-width: 1023px);
@custom-media --lg (min-width: 1024px);
@custom-media --lg-down (max-width: 1279px);
@custom-media --xl (min-width: 1280px);
@custom-media --xl-down (max-width: 1535px);
@custom-media --xl2 (min-width: 1536px);
@custom-media --xl3 (min-width: 2048px);

:root {
  --ff-sans: "Assistant", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --color-peach: hsl(16deg, 57%, 60%);
  --color-beige-300: hsl(31deg, 21%, 88%);
  --color-beige: hsl(31deg, 21%, 72%);
  --color-brick: hsl(16deg, 35%, 42%);
  --color-forest: hsl(74deg, 20%, 30%);
  --color-navy: hsl(191deg, 100%, 10%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-white: hsl(0deg, 100%, 100%);

  --color-focus-ring: hsl(16deg 80% 66% / 0.85);

  --color-body-text: var(--color-black);
  --color-body-background: var(--color-beige-300);

  --space-ratio: 0.625vw;
  --space-01: 0.25rem;
  --space-02: calc(var(--space-01) * 2);
  --space-03: calc(var(--space-02) * 2);
  --space-04: calc(var(--space-03) * 2);
  --space-05: calc(var(--space-04) * 2);

  --fz-title: 2.75rem;
  --lh-title: 1.125;
  --fz-h2: 1.25rem;
  --lh-h2: 1.25;
  --fz-h3: 1.25rem;
  --lh-h3: 1.25;
  --fz-h4: 1.125rem;
  --lh-h4: 1.375;
  --fz-body: 1rem;
  --lh-body: 1.6;

  --pointer-cursor: url("data:image/svg+xml,%3Csvg width='28' height='41' viewBox='0 0 46 69' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.6706 34.6509V39.939C35.6706 43.519 32.7294 46.4204 29.1294 46.4204H23.2471V49.2282H29.1294C34.2824 49.2282 38.4706 45.0633 38.4941 39.9156V34.6275C38.4941 31.8197 40.4471 29.3629 43.2 28.7311V45.5313C43.2 48.2221 42.3059 50.8427 40.6588 52.972L32.5176 63.5247C31.2235 65.186 29.2235 66.1688 27.1059 66.1922H12C6.94118 66.1922 2.82353 62.0974 2.82353 57.0667V12.7967C2.87059 11.7905 3.69412 11.0184 4.70588 11.0652C5.67059 11.0886 6.42353 11.8607 6.44706 12.7967V30.2988H9.27059V7.7894C9.27059 6.54927 10.2824 5.54314 11.5294 5.54314C12.7765 5.54314 13.7882 6.54927 13.7882 7.7894V7.7894V27.5612H16.6118V5.05177C16.6118 3.81164 17.6235 2.80551 18.8706 2.80551C20.1176 2.80551 21.1294 3.81164 21.1294 5.05177V28.9183H23.9529V7.766C23.9529 6.52588 24.9647 5.51974 26.2118 5.51974C27.4588 5.51974 28.4706 6.52588 28.4706 7.766V7.766V39.939H31.2941V7.7894C31.2941 5.00497 29.0353 2.73531 26.2118 2.73531C25.3176 2.73531 24.4471 2.9693 23.6706 3.41387C22.7529 0.769832 19.8588 -0.634081 17.2235 0.278463C15.7412 0.793231 14.5882 1.93976 14.0706 3.41387C11.6471 2.00996 8.54118 2.8523 7.12941 5.26235C6.68235 6.03451 6.44706 6.90025 6.44706 7.7894V8.53815C5.88235 8.30417 5.24706 8.16377 4.63529 8.16377C2.07059 8.16377 0 10.2228 0 12.7733V57.0667C0 63.6651 5.36471 69 12 69H27.1059C30.0941 69 32.9176 67.6195 34.7529 65.2562L42.8941 54.6801C44.8941 52.0595 46 48.8538 46 45.5547V25.7595H44.5882C39.6706 25.7829 35.6706 29.7606 35.6706 34.6509Z' fill='black'/%3E%3C/svg%3E%0A"),
    auto;

  --pointer-cursor-hover: url("data:image/svg+xml,%3Csvg width='31' height='40' viewBox='0 0 51 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.15942 3.43429L4.1612 3.42809C4.51866 2.61078 5.0762 1.90566 5.79148 1.37317C8.0563 -0.312854 11.2235 0.158988 12.8862 2.39247L35.0755 32.1989L35.0589 32.2112L35.3369 32.5847L35.3695 32.6286L35.4873 32.7871C35.5567 32.8795 35.6411 32.9898 35.7286 33.0985C37.2471 30.8675 37.2853 27.8383 35.5946 25.5672L32.4368 21.3255C29.5167 17.4029 30.3499 11.8236 34.2806 8.86825L35.413 8.02523L47.2336 23.9036C49.2038 26.5501 50.2309 29.7817 50.1915 33.0781L49.9767 46.4231C49.9157 49.4147 48.4752 52.208 46.0782 53.9924L33.9613 63.0128C28.6389 66.975 21.1501 65.8994 17.2099 60.6066L2.46525 40.8004L2.4679 40.7984L1.86886 39.9937C0.334011 37.932 0.75583 35.0312 2.81306 33.4997C3.30382 33.1343 3.89794 32.8686 4.49158 32.7204L4.0411 32.1152C3.50606 31.3965 3.1738 30.5561 3.06775 29.665C2.74987 26.8738 4.73436 24.3382 7.52314 24.0259C7.05143 22.5253 7.28625 20.91 8.16545 19.6087C8.95565 18.4415 10.1543 17.7124 11.447 17.4814L4.3472 7.94426C3.39355 6.41773 3.64747 5.18169 4.15942 3.43429ZM15.929 54.1522L13.1496 50.4186C13.7356 50.2757 14.3035 50.0152 14.8185 49.6319C15.3092 49.2665 15.7342 48.7736 16.0464 48.2472L16.0478 48.2492L16.0524 48.2451L16.0427 48.232C16.1205 48.0416 16.2231 47.7127 16.2699 47.3528C18.8396 48.417 21.8025 47.2416 22.8937 44.6785C24.196 45.5608 25.8108 45.7992 27.3095 45.3301C29.8217 44.5416 31.2781 41.9489 30.7172 39.4035L31.0839 39.1305L6.98362 6.75742C6.24303 5.76258 6.45387 4.35134 7.45419 3.60666C8.4545 2.86198 9.86683 3.06486 10.6074 4.0597L32.8107 33.8849L32.8213 33.877C33.4009 34.6621 33.876 35.3383 34.0528 35.5958L34.3448 35.3783L35.6381 37.1156L35.8948 36.9245C40.0281 33.8474 40.9005 28.0055 37.8455 23.8623L34.6879 19.6208C33.0112 17.3685 33.1105 14.2315 34.9415 12.081L44.9736 25.5568C46.5804 27.7153 47.4282 30.3513 47.3784 33.0427L47.1498 46.369C47.1036 48.4743 46.0861 50.4568 44.4015 51.7402L32.2846 60.7605C28.2267 63.7814 22.4786 62.9557 19.4747 58.9205L15.9264 54.1542L15.929 54.1522ZM14.0947 21.0379C13.3313 20.1196 11.9746 19.9478 11.0073 20.6679C10.007 21.4126 9.80095 22.83 10.5472 23.8325L22.7302 40.1977L22.7276 40.1996L23.9465 41.837C24.6928 42.8395 26.1098 43.0486 27.1101 42.304C28.1104 41.5593 28.3165 40.1418 27.5702 39.1394L14.0947 21.0379ZM11.4492 42.0617L11.5033 42.1343L11.4984 42.138L13.4839 44.8051C14.0282 45.5756 13.8888 46.6494 13.1292 47.2444C12.3598 47.8746 11.2608 47.7584 10.6125 47.0105L4.14767 38.3265C3.58001 37.4851 3.77593 36.3692 4.6157 35.8028C5.40358 35.2458 6.47225 35.4202 7.05423 36.1627L11.4469 42.0634L11.4492 42.0617ZM13.7559 32.8711L9.92972 27.7315C9.18343 26.729 7.76644 26.5199 6.76613 27.2645C5.76581 28.0092 5.55973 29.4267 6.30601 30.4291L13.7119 40.3773L13.7092 40.3792L16.4105 44.0078C17.1568 45.0103 18.5738 45.2195 19.5741 44.4748C20.5744 43.7301 20.7805 42.3127 20.0342 41.3102L13.7533 32.8731L13.7559 32.8711Z' fill='black'/%3E%3C/svg%3E"),
    auto;

  @media (min-width: 360px) {
    --fz-title: 3.425rem;
    --fz-h2: 2.125rem;
    --fz-h3: 1.625rem;
  }

  @media (min-width: 470px) {
    --fz-h2: 2.75rem;
    --fz-title: 4.25rem;
  }

  @media (--sm) {
    --space-01: 0.375rem;
    --fz-title: 5.25rem;
    --fz-h2: 3.5rem;
    --fz-h3: 1.8125rem;
    --fz-h4: 1.3125rem;
    --fz-body: 1.125rem;
  }

  @media (--lg) {
    --fz-title: 8.125rem;
    --fz-h2: 4.25rem;
    --fz-h3: 1.875rem;
    --fz-h4: 1.375rem;
    --fz-body: 1.25rem;
  }

  @media (min-width: 1280px) {
    --space-01: 0.425rem;
    --fz-title: 9.375rem;
    --fz-h2: 4.75rem;
    --fz-h3: 2.75rem;
    --fz-h4: 1.875rem;
    --fz-body: 1.5rem;
  }
}
