.container {
  --container-gutter: max(20px, 3.25vw);
  --container-size: 100%;
  width: var(--container-size);
  max-width: calc(100% - var(--container-gutter) * 2);
  margin-right: auto;
  margin-left: auto;

  @media (--sm) {
    --container-gutter: 6vw;
  }

  @media (--md) {
    --container-gutter: 8.435vw;
  }

  @media (--lg) {
    --container-size: 1220px;
    --container-gutter: 4rem;
  }
}

.container .container {
  max-width: 100%;
}

.srt,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

.print\:hidden {
  @media print {
    display: none;
  }
}

.screen\:hidden {
  @media screen {
    display: none;
  }
}

.page-title {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: var(--fz-title);
  line-height: var(--lh-title);
  text-transform: lowercase;
  text-align: center;
  margin: 0;
  margin-bottom: max(var(--space-04), 1em);

  &::after {
    content: ".";
    color: var(--color-peach);
  }
}
